<footer>
    <div class="row" >
        <div class="col-xs-12">
        <div class="bottom">
        <a href="https://www.facebook.com/ " ><img src="images/facebook.png" alt="facebook" width=120px> </a> 
        <a href="https://www.linkedin.com/in/satyavrath-injamuri-27b53516b/"><img src="images/Linkedin.png" alt="Linkedin" width=120px> </a>
        <a href="https://github.com/Satyavrath"><img src="images/github.png" alt="github" width=120px ></a>
        <a href="https://bitbucket.org/satyalalla/"><img src="images/Bitbucket.png" alt="Bitbucket" width=120px></a>
        </div>
        </div>
        </div>
        </div>     
</footer>
</body>
</html>