<!doctype html>
<html class="no-js" lang="">
  <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Me</title>

<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"  href="css/index.css">
<script src="js/contact.js"></script>
<title>Contact HTML</title>
<title>Interest Calculator</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width">
<!-- <script src="/test/A03test.js"></script> -->
<title>A03 QUnit Test Results</title>
<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.0.1.css">
<script src="js/loancalculator.js"></script>
<script src="https://code.jquery.com/qunit/qunit-2.0.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<nav>
    <ul>
      <li><a class="active" href="/index">Home</a></li>
      <li><a href="/loancalculator">Loancalculator</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="test/test.html">Test</a></li>
    </ul>	
    <a class="navbar-brand Navbar active" href="/index">Satyavrath.com</a>
</nav>  

</head>
