<% include header%>

	  <body>
			<img src="images/pic.jpg" class = "img-circle" alt ="My image" width="200px" height = "200px" align =right>
			

		<header>
		<div class="container-fluid">
		<div class="row" >
		<div class="col-xs-12">
		
		<H1> SATYAVRATH INJAMURI </H1>
		</div>
		</header>	
		<main>		
		 <article>
		<div class="row" >
		<div class="col-xs-8" >
			<H3 class="section-header">  CURRENT: </H3>	
			 <p>I am starting to pursue Masters in Applied Computer Science at Northwest Missouri from this August Fall Semester to form my roots stronger in the area of my interests.</p>
		</div>
		<div class="row" >
		<div class="col-xs-8" >
		  <section id="past-section">
		    <H3 class="section-header">  BACKGROUND: </H3>
			<p> To give a brief overview of my background,my native place is from a beautiful place called Hyderabad in the southern part of India where I have also completed 
				my under graduation in Electrical and Electronics Engineering at Jawaharlal Nehru Technology Affiliated University and consecutively served two product oriented
				companies as a Database Administrator for a span of 6 years. So far, my industrial experience helped me in becoming a good team player and also built confidence
				in becoming a team lead. My go to hobbies include playing Badminton, Cricket and Ping-Pong for which I am also very much excited to be able to continue.</p>
		  </section >
		</div>
		<div class="row" >
		<div class="col-xs-8" >
		  <section id="future-section" >
		     <H3 class="section-header"> FUTURE GOAL:</H3>  <p>I would like to lookup myself as Data Analyst as I could see a tremendous need in the near future. Also, I have special interests in the 
			        area of Artificial Intelligence as my long term goal would be to develop a user friendly application using Artificial Intelligence in the area of Insurance Sector.</p>
		  </section>
		</div>
		<div class="row" >		   	
		<div class="col-xs-12" >	
			<embed width="500" height="300" src="https://youtube.com/embed/47UR0O2EQBs" controls>
		

<% include footer%>